<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
  
<title>Silicon Valley Prep</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="description" content=""> 
<meta name="keywords" content=""> 

<link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
<link href='/css/style.css' media='all' rel='stylesheet' type='text/css' />
<link href='/css/print.css' media='print' rel='stylesheet' type='text/css' />
<link href="/css/font-awesome.css" rel="stylesheet" type='text/css'>
<!-- <link href="/css/fio.css" rel="stylesheet"> -->
<!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->
<!-- <link href="/css/bootstrap-responsive.css" rel="stylesheet"> -->
<link href='/favicon.ico' rel='shortcut icon' />

</head> 
 
<body>
  <div class='topbar'>
    <div class='header'>
      <div class='container'>
        <div class='brand' href='/' title='Silicon Valley Prep'>
          <!-- <img alt='Fleetio Logo' height='28' src='/images/fleetio-logo-drk-clrarrow-trans-111x28.png' width='111' /> -->
		      Silicon Valley Prep
        </div>
        <h1 class='site-title'>
          <a href='/' title='Online vehicle and fleet maintenance management'>
            SVPrep
          </a>
        </h1>
        <ul class='nav'>
          <li>
            <a class='<%= page == "home" ? "btn disabled" : "" %>' href='/'>
              Home
            </a>
          </li>
          <li>
            <a class='<%= page == "courses" ? "btn disabled" : "" %>' href='/courses'>
              Courses & Pricing
            </a>
          </li>
          <li>
            <a class='<%= page == "logistics" ? "btn disabled" : "" %>' href='/logistics'>
              Timings & Location
            </a>
          </li>
          <li>
            <a class='<%= page == "testimonials" ? "btn disabled" : "" %>' href='/testimonials'>
              Testimonials
            </a>
          </li>
          <li>
            <a class='<%= page == "faq" ? "btn disabled" : "" %>' href='/faq'>
              FAQ
            </a>
          </li>
          <li>
            <a class='<%= page == "discounts" ? "btn disabled" : "" %>' href='/discounts'>
              Discounts
            </a>
          </li>
          <li>
            <a class='<%= page == "instructors" ? "btn disabled" : "" %>' href='/instructors'>
              Instructors
            </a>
          </li>
          <li>
            <a class='btn primary' href='/signup' title='Sign Up'>
              Sign Up
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <%-body%>

  <footer>
    <!-- <div class='container'>
      <div class='row'>
        <div class='span10'>
          <div class='row'>
            <div class='span3'>
              <h4>Product</h4>
              <ul class='unstyled'>
                <li>
                  <a href='/'>Home</a>
                </li>
                <li>
                  <a href='/why'>Why Fleetio?</a>
                </li>
                <li>
                  <a href='/tour'>Feature Tour</a>
                </li>
                <li>
                  <a href='/pricing'>Pricing</a>
                </li>
                <li>
                  <span class='label success'>New</span>
                  <a href='/faq'>FAQ</a>
                </li>
              </ul>
            </div>
            <div class='span4'>
              <h4>More</h4>
              <ul class='unstyled'>
                <li>
                  <a href='http://blog.fleetio.com'>Fleetio Blog</a>
                </li>
                <li>
                  <a href='/roi'>ROI Calculator</a>
                </li>
                <li>
                  <a href='/fleet-management-software'>Fleet Management Software</a>
                </li>
                <li>
                  <a href='/vehicle-maintenance-software'>Vehicle Maintenance Software</a>
                </li>
              </ul>
            </div>
            <div class='span3'>
              <h4>Company</h4>
              <ul class='unstyled'>
                <li>
                  <a href='/about'>About</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class='span6'>
          <h4>
            Subscribe to our newsletter
          </h4>
          <p>
            Hear about new features, tips & other updates.
          </p>
          <form action='http://rarestep.us1.list-manage.com/subscribe/post?u=d4a006f9816053fb9b37816ea&amp;id=61cdd86e5c' id='newsletter_list_form' method='post' name='mc-embedded-subscribe-form' target='_blank'>
            <div class='clearfix'>
              <input class='span4' name='EMAIL' placeholder='email address' type='email' />
              <input class='btn' name='subscribe' type='submit' value='Subscribe' />
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <div id='footer-floor'>
      <div class='container'>
        <div class='row'>
          <div class='span10'>
            <h3 id='phone'>
              Instant Support Line: 1-408-667-0178
            </h3>
            <p>
              &copy; 2011-2012 <a href="/" title="SVPrep">SVPrep, Inc.</a> All Rights Reserved.
              &nbsp;<a href='/tos'>Terms of Service</a>&nbsp;&&nbsp;<a href='/privacy'>Privacy Policy</a>.
            </p>
          </div>
          <!-- <div class='span3 ar' id='elsewhere-msg'>
            <h4>Stay in touch:</h4>
          </div>
          <div class='span3' id='elsewhere-icons'>
            <a class='twitter' href='http://twitter.com/fleetio'>Twitter</a>
          </div> -->
        </div>
      </div>
    </div>
  </footer>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
  <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
  <script src='/js/jquery.colorbox-min.js'></script>
  <script src='/js/bootstrap-twipsy.js'></script>
  <script src='/js/bootstrap-popover.js'></script>
  <script src='/js/bootstrap-modal.js'></script>
  <script src='/js/bootstrap-collapse.js'></script>
  <script src='/js/bootstrap-carousel.js'></script>
  <script src='/js/index.js'></script>
  <script type="text/javascript">
  	$("a.header").each(function (index, element) {
  	  console.log(index);
      console.log(element);
      console.log(page);
  	});
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".collapse").collapse('hide');
      // $('#java').collapse({
      //   toggle: false
      // });
    });
  	$('#myCarousel').carousel({
  	  interval: 2000
  	});
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#sat25-a').change(function() {
        var course = $(this).val();
      
        if (course == "physsat2-sat25-a-sj") {
          courseBeforeDisabled = $("#sat25-b").val();
          $("#sat25-b").val("physsat2-sat25-b-sj");
          $("#sat25-b").attr('disabled', 'disabled');
        } else if (course == "mathsat2-sat25-a-sj") {
          courseBeforeDisabled = $("#sat25-b").val();
          $("#sat25-b").val("mathsat2-sat25-b-sj");
          $("#sat25-b").attr('disabled', 'disabled');
        } else {
          var otherSessionCourse = $("#sat25-b").val();
          if (otherSessionCourse == "physsat2-sat25-b-sj" || otherSessionCourse == "mathsat2-sat25-b-sj") {
    		    $("#sat25-b").removeAttr('disabled');
            $("#sat25-b").val("noclass-sat25-b");
          }
        }
      });
    
      $('#sat25-b').change(function() {
        var course = $(this).val();
      
        if (course == "physsat2-sat25-b-sj") {
          courseBeforeDisabled = $("#sat25-a").val();
          $("#sat25-a").val("physsat2-sat25-a-sj");
          $("#sat25-a").attr('disabled', 'disabled');
        } else if (course == "mathsat2-sat25-b-sj") {
          courseBeforeDisabled = $("#sat25-a").val();
          $("#sat25-a").val("mathsat2-sat25-a-sj");
          $("#sat25-a").attr('disabled', 'disabled');
        } else {
          var otherSessionCourse = $("#sat25-a").val();
          if (otherSessionCourse == "physsat2-sat25-a-sj" || otherSessionCourse == "mathsat2-sat25-a-sj") {
    		    $("#sat25-a").removeAttr('disabled');
            $("#sat25-a").val("noclass-sat25-a");
          }
        }
      });
    
      $('#sun25-a').change(function() {
        var course = $(this).val();
      
        if (course == "chemsat2-sun25-a-sj") {
          courseBeforeDisabled = $("#sun25-b").val();
          $("#sun25-b").val("chemsat2-sun25-b-sj");
          $("#sun25-b").attr('disabled', 'disabled');
        } else if (course == "biosat2-sun25-a-sj") {
          courseBeforeDisabled = $("#sun25-b").val();
          $("#sun25-b").val("biosat2-sun25-b-sj");
          $("#sun25-b").attr('disabled', 'disabled');
        } else {
          var otherSessionCourse = $("#sun25-b").val();
          if (otherSessionCourse == "chemsat2-sun25-b-sj" || otherSessionCourse == "biosat2-sun25-b-sj") {
    		    $("#sun25-b").removeAttr('disabled');
            $("#sun25-b").val("noclass-sun25-b");
          }
        }
      });
    
      $('#sun25-b').change(function() {
        var course = $(this).val();
      
        if (course == "chemsat2-sun25-b-sj") {
          courseBeforeDisabled = $("#sun25-a").val();
          $("#sun25-a").val("chemsat2-sun25-a-sj");
          $("#sun25-a").attr('disabled', 'disabled');
        } else if (course == "biosat2-sun25-b-sj") {
          courseBeforeDisabled = $("#sun25-a").val();
          $("#sun25-a").val("biosat2-sun25-a-sj");
          $("#sun25-a").attr('disabled', 'disabled');
        } else {
          var otherSessionCourse = $("#sun25-a").val();
          if (otherSessionCourse == "chemsat2-sun25-a-sj" || otherSessionCourse == "biosat2-sun25-a-sj") {
    		    $("#sun25-a").removeAttr('disabled');
            $("#sun25-a").val("noclass-sun25-a");
          }
        }
      });
    });
  </script>
</body>
</html> 
